  <style>
  .profile {
    display: none ;
  }
    @media screen and (max-width: 991px)  {
      .UserImage {
        display: none;
      }
    
  }
    #sc-n{
        visibility: hidden;   
        text-align: start;
        padding: 0.7rem 1rem;
        border:1px solid #DBE0E4;
        border-radius: 1em;
        background-color: white;
        
    }
        #s-user-n:focus + #sc-n, #sc-n:focus + #sc-n{

        visibility: visible;
    }
    .search-sug-n{
        text-align: start;
        width: 100%;
        cursor: pointer;
        padding: 0.2em 0;
        font-weight: 450;
        transition:all 200ms;
        background:none;
        border:none;
    }
    .search-sug-n:hover{
        color:rgb(26, 243, 30)
    }
  </style><!-- === Navbar Start === -->
  <div class="navbar__">
  <noscript auth="{{isAuth}}" id="isAuth"></noscript>
  <div class="navbar__elements">
    <!-- Navbar Logo -->
    <div class="logo_company">
      <a href="/" class="au">

        <h3>Otnem</h3>

      </a>
      <!-- <img src="" alt=""> -->
    </div>
    <!-- Navbar Links -->
    <div class="navbar_links">
      <ul>
        <a href="/" class="au">
          <li id="home">Home</li>
        </a>
        <a href="/construction" class="au">
          <li id="community">Community</li>
        </a>
        <a href="/construction" class="au">
          <li id="fine">Find a Partner</li>
        </a>
        <a href="/construction" class="au">
          <li id="support">Support</li>
        </a>
      
      </ul>
    </div>
    <!-- Navbar Search Bar -->
    <form action="" class="navbar_Form mx-3 mx-xl-0">
      <div class="Navbar_SearchBar">
        <input
          id="s-user-n"
          type="text"
          placeholder="Search User"
          onkeypress=""
          autocomplete="off"
        />
        <div id="sc-n" style="position: absolute;margin-top: 3.5em;z-index: 1;"></div>

      </div>
    </form>

    <!-- Navbar Icons Section -->
    <div class="navbar_section">
      <a href="/chatRoom?user={{userName}}" class="au">
        <i class="fa-solid fa-envelope" id="Emails"></i>
      </a>
      
      <a href="/notifications" class="au">
        <i class="fa-solid fa-bell" id="Notification"></i>
      </a>
      
      {{#if isAuth}}
        <i id="logout" class="fa-solid fa-arrow-right-from-bracket" onclick="axios.delete('/logout');location.href = `/login`" style="cursor:pointer"
        ></i>
      {{/if}}
      <div class="profile me-2 me-xl-0">
        <div class="UserImage" style="width: 2.7em;cursor:pointer" onclick="location.href = '/profile'">
          <img src="{{profilePic}}" style="width: 100%;height:100%;" alt="User Profile Image">
        </div>
      </div>
    </div>
    <!-- Navbar Post Button -->
    <div class="navbar_Post_Link">
      <a href="/post" class="au">
        <button class="navbar_Post">
          Upload
        </button>
      </a>
    </div>
  </div>
  </div>
  <div class="popup" id="popup2">
  <div class="choose">
    <a href="./camera-post.html" class="camera"><i
        class="fa-solid fa-camera"
      ></i></a>
    <a href="./video-post.html" class="video"><i
        class="fa-solid fa-video"
      ></i></a>
  </div>
  <a href="#" class="exit" onclick="hide('popup2')">Exit</a>
  </div>
  <!-- === Navbar End === -->
  <!-- MOBILE NAVBAR START -->
  <div class="navbar_mobile">
  <ul class="items">
    <a href="/"  class="au">
      <li><i id="house" class="fa-solid fa-house"></i></li>
    </a><a  href="/chatRoom?user=Pravith B A" id="chat" class="au">
    <i class="fa-solid fa-message"></i> </a>

  </ul>
  <a href="/post">
    <button class="btn_createPost">
      Upload
    </button>
  </a>
  <ul class="items">
    <a href="/notifications" id="noti" class="au">
      <li><i class="fa-solid fa-bell"></i></li>
    </a><a href="/profile" id="profile" class="au">
      <li><i class="fa-solid fa-user"></i></li>
    </a>

  </ul>
  </div>
  <!-- MOBILE NAVBAR END -->
  <script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js "
  ></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>
  navbarActiveSel()
  async function notify(){ 
  let sw = await navigator.serviceWorker.ready 
  let push = await sw.pushManager.subscribe({ userVisibleOnly:true,
  applicationServerKey:'BEPh6PvlCqQCb19uCpsuf0j8g2xqvzuIKmJbW8MdszGKkinfyorfldO0yR-uWO8olU5bk_09xKDvKiPBoszhHyY'
  })
  window.onload($('#logout').click(logout()))
  async function logout(){
    console.log('lol')
    await axios.delete('/logout')
    location.href = '/login'
  }
  $('#logout').click(logout())
  await axios.post('/asignNotification',{push:JSON.stringify(push)}) }
  if($('#isAuth').attr('auth') == 'true') notify()
  async function mainN(){
    let allUsers = (await axios.get('/getAllUsers')).data.filter(e=>e != $('#vars').attr('user'))
    $('#s-user-n').keyup(async e => {
      if(e.keyCode == 13 && (await axios.get(`/checkUser?user=${$('#s-user-n').val()}`)).data) {
        location.href = `/profile?user=${$('#s-user-n').val()}`
      }
      if($('#s-user-n').val().replaceAll(' ','') != '')
        showSearchN((allUsers.filter(element=>element.toLowerCase().replaceAll(' ','').includes($('#s-user-n').val().toLowerCase().replaceAll(' ','')))))
      else
        $('#sc-n').html('')
    })
  }
  mainN()
    function showSearchN(arr){
        $('#sc-n').html('')
        arr = arr.slice(0,5)
        arr = arr.map(element=>{
            let button = document.createElement('div')
            button.classList.add('search-sug-n')
            button.innerText = element
            button.addEventListener('click',()=>{
              location.href = `/profile?user=${element}`
              console.log(`/profile?user=${button}`)
            })
            return button
        })
        document.querySelector('#sc-n').append(...arr)
    }
  function navbarActiveSel(){
    let pathName = (new URL(window.location.href)).pathname
    remClasses()
    if(pathName === '/'){
      $('#home').addClass('active')
    }
    function remClasses(){
      Array.from(document.querySelector('.navbar_links').children).forEach(e=>e.classList.remove('active'))
    }
  }
  //https://www.paypal.com/webscr?cmd=_xclick&item_name=Purpose%20of%20payment%20goes%20here&amount=&currency_code=USD&business=somereceiver@emaildomain.com
  </script>