<!-- === Navbar Start === -->
<div class="navbar__">
  <noscript auth='{{isAuth}}' id="isAuth"></noscript>
  <div class="navbar__elements">
    <!-- Navbar Logo -->
    <div class="logo_company">
      <a href="#" class="au">
        <h3>Mento</h3>
      </a>
      <!-- <img src="" alt=""> -->
    </div>
    <!-- Navbar Links -->
    <div class="navbar_links">
      <ul>
        <a href="/" class="au">
          <li class="active">Home</li>
        </a>
        <a href="#" class="au">
          <li>Books</li>
        </a>
        <a href="#" class="au">
          <li>Jobs</li>
        </a>
        <a href="#" class="au">
          <li>Support</li>
        </a>
        <a href="#" class="au">
          <li>How it Works</li>
        </a>
      </ul>
    </div>
    <!-- Navbar Search Bar -->
    <!-- Navbar Search Bar -->
    <form action="" class="navbar_Form">
      <div class="Navbar_SearchBar">
        <input id="SearchBar" type="text" placeholder="Search ..">
        <i class="fa-solid fa-xmark" id="ExitOfSearch"></i>
      </div>
    </form>
    <!-- Navbar Icons Section -->
    <div class="navbar_section">
      <a href="#" class="au">
        <i class="fa-solid fa-envelope" id="Emails"></i>
      </a>
      <a href="#" class="au">
        <i class="fa-solid fa-magnifying-glass" id="Search"></i>
      </a>
      <a href="/notifications" class="au">
        <i class="fa-solid fa-bell" id="Notification"></i>
      </a>
      {{#if isAuth}}
        <i class="fa-solid fa-arrow-right-from-bracket" onclick="logout()" style="cursor:pointer"></i>
      {{/if}}
      <div class="profile">
        <a href="/profile">
          <img src="{{profilePic}}" alt="Profile Image">
        </a>
      </div>
    </div>
    <!-- Navbar Post Button -->
    <div class="navbar_Post_Link">
      <a href="/post" class="au">
        <button class="navbar_Post">
          Upload
        </button>
      </a>
    </div>
  </div>
</div>
<div class="popup" id="popup2">
      <div class="choose">
          <a href="./camera-post.html" class="camera"><i class="fa-solid fa-camera"></i></a>
           <a  href="./video-post.html" class="video"><i class="fa-solid fa-video"></i></a>
      </div>
      <a href="#" class="exit" onclick="hide('popup2')">Exit</a>
    </div>
<!-- === Navbar End === -->
<!-- MOBILE NAVBAR START -->
<div class="navbar_mobile">
<ul class="items">
  <a href="#" class="au">
    <li><i class="fa-solid fa-house"></i></li>
  </a><a href="#" class="au">
    <li><i class="fa-solid fa-bookmark"></i></li>
  </a>
</ul>
<a href="/post">
  <button class="btn_createPost">
    Create
  </button>
</a>
<ul class="items">
  <a href="#" class="au">
    <li><i class="fa-solid fa-bell"></i></li>
  </a><a href="#" class="au">
    <li><i class="fa-solid fa-user"></i></li>
  </a>
  {{#if isAuth}}
    <i class="fa-solid fa-arrow-right-from-bracket" onclick="logout()"></i>
  {{/if}}
</ul>
  </div>
  <!-- MOBILE NAVBAR END -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js "></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    async function logout(){
      await axios.delete('/logout')
      location.reload()
    }
  </script>
  <script>
  async function notify(){
        let sw = await navigator.serviceWorker.ready
        let push = await sw.pushManager.subscribe({
            userVisibleOnly:true,
            applicationServerKey:'BEPh6PvlCqQCb19uCpsuf0j8g2xqvzuIKmJbW8MdszGKkinfyorfldO0yR-uWO8olU5bk_09xKDvKiPBoszhHyY'
        })
        await axios.post('/asignNotification',{push:JSON.stringify(push)})
  }
  if($('#isAuth').attr('auth') == 'true')
    notify()
</script>