  {{> navBar profilePic = profilePic isAuth = true}}
    <!-- === Items Links Selector Start === -->
    <style>
        @media screen and (max-width: 991px) {
    .navbar__ {
      display: none;
    }
    


  #noti {
  color: #000;
  }

  }

    </style>
    <div class="container-fluid">

    <!-- === Items Links Selector End === -->
    <div class="posts_cards">
      <div class="container-fluid p-3">
          <h2>Notification</h2>
        <div class="grid_postsx" style="flex-wrap:wrap;">
        {{#each notifications}}
            <div class="card" onclick="window.location.href='{{link}}'" style="cursor: pointer;">
                <div class="pd-left">
                    <div class="pd-row">
                        <img src="{{image}}" class="pd-image" alt="">
                        <div>
                          <h3>{{title}}</h3>
                          <p>{{disc}} </p>
                          
                        </div>
                    </div>
                  </div>
            </div>
        {{/each}}
        </div>
      </div>
    </div>
  </div>
  <script>
    newPageTitle = 'Notification | Otnem - Share your project with the world';
  document.querySelector('title').textContent = newPageTitle;
  </script>
