<style>
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  background-color: #fff;
}

button{
    margin-top: 40px;
    text-transform: capitalize;
}


</style>
<div class="container-fluid ">
      <lottie-player src='https://assets8.lottiefiles.com/packages/lf20_34adyboc.json' 
        background="transparent" speed="1" style="width: 100%; height: 500px" loop autoplay></lottie-player>
      <h2 class="fourofour2">Sorry but his page is under Construction</h2>
      <button type="button" onclick="history.back()" class="zoom btn btn-dark">Go Back</button>
        
</div>

<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<script>
     newPageTitle = '503 Page';
    document.querySelector('title').textContent = newPageTitle;
</script>