<h3 style="font-family: 'Courier New', Courier, monospace;
    text-align: center;
    display:grid;
    height: 100vh;
    place-content: center;
    font-weight: bold;"> CHECK YOUR EMAIL FOR VERIFICATION LINK </h3>
<style>
    body{margin: 0;
        padding: 0;
        background-color: rgb(70, 228, 70);
    }
</style>
<script>
    setTimeout(()=>location.href = '/login',10000)
</script>