
{{> navBar profilePic = profilePic isAuth = true}}
<!-- === Items Links Selector Start === -->
<style>
	  @media screen and (max-width: 991px)  {
    .navbar__  {
      display:none;
    }
  }
  .nav-link {
	  color: #000;
  }
  .nav-link:hover{
	  color: #23F649;
  }
</style>
    </div>
    <!-- === Items Links Selector End === -->
    <section>
	{{#with userData}}
		<div class="container">
			<div class="bg-white shadow rounded-lg d-block d-sm-flex">
				<div class="profile-tab-nav border-right">
					<div class="p-4">
						<div class="img-circle text-center mb-3" style="display: flex;justify-content: center;align-items: center;">

							<img src="{{profilePic}}" alt="Image" class="shadow" style="position: relative;">
                            <div class="pen" style="cursor: pointer;">
                                <i class="fa-solid fa-pen-to-square" ></i>
                            </div>

						</div>
						<h4 class="text-center"></h4>
					</div>
					<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						<div style="cursor: pointer;" class="nav-link active" id="account-tab" data-toggle="pill" role="tab" aria-controls="account" aria-selected="true">
							<i class="fa fa-home text-center mr-1" ></i> 
							Account
						</div>
							<div style="cursor: pointer;" class="nav-link" id="banner-tab" data-toggle="pill" role="tab" aria-controls="banner" aria-selected="false">
							<i class="fa-solid fa-user mr-1"></i> 
							Banner
						</div>
						<div style="cursor: pointer;" class="nav-link" id="password-tab" data-toggle="pill" role="tab" aria-controls="password" aria-selected="false">
							<i class="fa fa-key text-center mr-1"></i> 
							Password
						</div>
					

					</div>
				</div>
				<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
					<div class="tab-pane acc-set fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
						<h3 class="mb-4">Account Settings</h3>
            			<h1 class="err err-pay"></h1>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
								<label>Name</label>
								<input type="text" class="form-control inp-paypal" placeholder="Enter your Name" >
								</div>
							</div>
							<div class="col-md-6">
									<div class="form-group">
								<label>Paypal</label>
								<input type="text" class="form-control inp-paypal" placeholder="{{paypal}}" value="{{paypal}}">
								</div>
							</div>
							<div class="col-md-6">
							
							
								<div class="form-group">
								<label>Bio</label>
								<textarea type="text" class="form-control inp-bio" placeholder="Bio" value="{{bio}}" style="resize: none;"></textarea>
								</div>
							</div>
						</div>
						<div style="display: flex;">
							<button class="btn btn-account" style="background-color: #000;color:#fff">Update</button>
							<button onclick="javascript:window.history.back(-1);return false;" class="btn btn-light">Cancel</button>
						</div>
					</div>
					<div class="tab-pane acc-set fade " id="pfp" role="tabpanel" aria-labelledby="account-tab">
						<h3 class="mb-4">Profile Pic Settings</h3>
            			<h1 class="err err-pfp"></h1>
						<div class="row pfp-row" >
							<input type="file" name="pfp" id="pfp-inp" style="display: none;" >
							<div class="pfp-file-inp" onclick="$('#pfp-inp').click()"><i class="fa fa-camera pfp-icon"></i></div>
						</div>
						<div style="display: flex;">
							<button class="btn btn-pfp" style="background-color: #000;color:#fff">Update</button>
							<button onclick="javascript:window.history.back(-1);return false;" class="btn btn-light">Cancel</button>
						</div>
					</div>
					<div class="tab-pane acc-set fade " id="banner" role="tabpanel" aria-labelledby="account-tab">
						<h3 class="mb-4">Change Banner </h3>
            			<h1 class="err err-banner"></h1>
						<div class="row banner-row" >
							<input type="file" name="banner" id="banner-inp" style="display: none;" >
							<div class="banner-file-inp" onclick="$('#banner-inp').click()"><i class="fa fa-camera banner-icon"></i></div>
						</div>
						<div style="display: flex;">
							<button class="btn btn-banner" style="background-color: #000;color:#fff">Update</button>
							<button onclick="javascript:window.history.back(-1);return false;" class="btn btn-light">Cancel</button>
						</div>
					</div>
					<div class="tab-pane acc-set fade " id="password" role="tabpanel" aria-labelledby="password-tab">
						<h3 class="mb-4">Password Settings</h3>
            			<h1 class="err err-pass"></h1>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
								<label>Old password</label>
								<input type="password"class="form-control inp-old-pass" placeholder="Enter your current password">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
								<label>New password</label>
								<input type="password" class="form-control inp-new-pass" placeholder="Enter your new password">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								<label>Confirm new password</label>
								<input type="password" class="form-control inp-cnf-pass" placeholder="Confirm your password">
								</div>
							</div>
						</div>
						<div style="display:flex">
							<button class="btn btn-password" style="background-color: #000;color:#fff">Update</button>
							<button class="btn btn-light">Cancel</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	{{/with}}
	</section>

</div>
<script>
	  newPageTitle = 'Settings | Otnem - Share your project with the world';
document.querySelector('title').textContent = newPageTitle;
	$('.btn-account').click(async e=>{
		let res = await axios.post('/changeCred',{cred:'account',newPaypal:$('.inp-paypal').val(),bio:$('.inp-bio').val()})
		if(res.data.success)
				location.href = '/profile'
		else
			$('.err-pay').css('display','block')
			$('.err-pay').text(res.data.msg)
	})
	$('.btn-pfp').click(async e=>{
		let formData = new FormData()
        formData.append("profile_pic",document.querySelector('#pfp-inp').files[0],"profile_pic")
		formData.append("cred",'profilePic')
		let res = await axios.post('/changeCred',formData)
		if(res.data.success)
				location.href = '/profile'
		else
			$('.err-pfp').css('display','block')
			$('.err-pfp').text(res.data.msg)
	})
	$('.btn-banner').click(async e=>{
		let formData = new FormData()
        formData.append("profile_pic",document.querySelector('#banner-inp').files[0],"profile_pic")
		formData.append("cred",'banner')
		let res = await axios.post('/changeCred',formData)
		console.log(res.data)
		if(res.data.success)
				location.href = '/profile'
		else
			$('.err-pfp').css('display','block')
			$('.err-pfp').text(res.data.msg)
	})
	$('.btn-password').click(async e=>{
		if($('.inp-new-pass').val() == $('.inp-cnf-pass').val()){
			let res = await axios.post('/changeCred',{cred:'password',newElement:$('.inp-new-pass').val(),currentElement:$('.inp-old-pass').val()})
			if(res.data.success)
				location.href = '/profile'
			else
				$('.err-pass').css('display','block')
				$('.err-pass').text(res.data.msg)
		}
		else
			console.log('confirm password wrong')
	})
	$('.inp-cnf-pass').keyup(async e=>{
		if(e.keyCode != 13)
			return
		if($('.inp-new-pass').val() == $('.inp-cnf-pass').val()){
			let res = await axios.post('/changeCred',{cred:'password',newElement:$('.inp-new-pass').val(),currentElement:$('.inp-old-pass').val()})
			if(res.data.success)
				location.href = '/profile'
			else
				$('.err-pass').css('display','block')
				$('.err-pass').text(res.data.msg)
		}
		else
			console.log('confirm password wrong')
	})
	$('#pfp-inp').change(function(){
		let file = this.files[0]
		if(file)
			$('.pfp-file-inp').html(`<img src='${URL.createObjectURL(file)}' alt='Img Not available' srcset='' style="width:90%;height:90%;border-radius:0.5em">`)
		else
			$('.pfp-file-inp').html('<i class="fa fa-camera pfp-icon"></i>')
	})
	$('#banner-inp').change(function(){
		let file = this.files[0]
		if(file)
			$('.banner-file-inp').html(`<img src='${URL.createObjectURL(file)}' alt='Img Not available' srcset='' style="width:55em;height:15em;border-radius:0.5em">`)
		else
			$('.banner-file-inp').html('<i class="fa fa-camera banner-icon"></i>')
	})
	$('.pen').click(e=>{
		sel('pfp')
	})
	$('#password-tab').click(e=>{
		sel('password')
	})
	$('#account-tab').click(e=>{
		sel('account')
	})
	$('#banner-tab').click(e=>{
		sel('banner')
	})
	function sel(option){
		switch(option){
			case 'pfp':
				$('#account').removeClass('show','active').css('display','none')
				$('#password').removeClass('show','active').css('display','none')
				$('#pfp').addClass('show','active').css('display','block')
				$('#account-tab').removeClass('active')
				$('#password-tab').removeClass('active')
				$('.inp-paypal').val('')
				$('.inp-bio').val('')
				return
			case 'banner':
				$('#account').removeClass('show','active').css('display','none')
				$('#password').removeClass('show','active').css('display','none')
				$('#pfp').removeClass('show','active').css('display','none')
				$('#banner').addClass('show','active').css('display','block')
				$('#account-tab').removeClass('active')
				$('#password-tab').removeClass('active')
				$('#banner-tab').addClass('active')
				$('.inp-paypal').val('')
				$('.inp-bio').val('')
				return
			case 'password':
				$('#account').removeClass('show','active').css('display','none')
				$('#pfp').removeClass('show','active').css('display','none')
				$('#banner').removeClass('show','active').css('display','none')
				$('#password').addClass('show','active').css('display','block')
				$('#account-tab').removeClass('active')
				$('#banner-tab').removeClass('active')
				$('#password-tab').addClass('active')
				$('.inp-paypal').val('')
				$('.inp-bio').val('')
				return
			case 'account':
				$('#pfp').removeClass('show','active').css('display','none')
				$('#banner').removeClass('show','active').css('display','none')
				$('#password').removeClass('show','active').css('display','none')
				$('#account').addClass('show','active').css('display','block')
				$('#banner-tab').removeClass('active')
				$('#password-tab').removeClass('active')
				$('#account-tab').addClass('active')
				$('.inp-paypal').removeProp('readOnly')
				$('.inp-bio').removeProp('readOnly')
				return
		}
	}
</script>