{{> navBar profilePic = profilePic isAuth = true}}
<noscript id="fields" num="1"></noscript>
<div class="field-c">
    <div class="field field-1">
        <input type="file" name="file-1" id="" class="inp-file file-1">
        <div class="content content-1">
            <h2>Title</h2>
            <input type="text" name="title-1" id="" class="inp-title title-1">
            <h2>Description</h2>
            <textarea name="disc-1" id="" cols="30" rows="12" class="inp-disc disc-1"></textarea>
        </div>
        <div class="display display-1"><i class="fa fa-camera icon-1"></i></div>
        <img src="" alt="">
    </div>
    <div id="btn-c">
        <button id="add-field" class="btn" style="margin: 0 0 0 0;" onclick='createField()'>Add Field <i class="fa fa-plus"></i></button>
        <button id="post-btn" disabled onclick="post()" class="btn">Post</button>
    </div>
</div>
<style>
    #btn-c{
        display:grid;
        grid-auto-flow: column;
        gap:2em;
    }
    .btn{
        display: grid;
        place-items: center;
        grid-auto-flow: column;
        gap:0.4em;
        padding:0.3em;
        background-color: transparent;
        border:0.1em solid #23F649;
        color:#4cca63;
        font-weight: bold;
        font-size:1.5em;
        border-radius: 0.4em;
        transition: all 300ms;
        width:9em;
    }
    .btn:disabled{
        background-color: transparent;
        cursor: not-allowed;
        border-color: grey;
        color: grey;
        font-style: oblique;
    }
    .btn:hover{
        background-color: #23F649;
        color:white;
    }
    .btn:active{
        background-color: #1fe243;
        border-color:#1fe243;
        color:white;
    }
    .field-c{
        font-family: 'Courier New', Courier, monospace;
        display: grid;
        place-items: center;
        margin: 1rem 0 1rem 0;
        row-gap: 2vw;
    }
    h2{
        font-weight: bolder;
    }
    .field{
        display:flex;
        border:0.8rem solid #23F649;
        border-radius:1rem;
        width:90%;
        padding: 1rem 1rem 1rem 1rem;
        gap:1%;
    }
    .content{
        display:flex;
        flex-direction: column;
        width: 58%;
    }
    .inp-title{
        padding:0.5rem;
        font-size:1.5rem;
        border-radius: 0.5rem;
        margin-bottom: 0.5rem;
        font-weight: bold;
    }
    .inp-disc{
        padding:0.5rem;
        resize:none;
        font-size:1.5rem;
        border-radius: 0.5rem;
        font-weight: bold;
    }
    .display{
        width:35vw;
        height:35vw;
        border:0.6rem solid #23F649;
        border-radius: 1rem;
        display: grid;
        place-items: center;
        cursor:pointer;
    }
    .fa-camera{
        font-size: 5rem;
    }
</style>
<script>
    document.querySelectorAll('input[type=file]').forEach(inp=>{
        inp.setAttribute('style','display:none')
    })
    $('.display-1').click(()=>{
        $('.file-1').click()
        console.log($('file-1'))
    })
    $('.file-1').change(()=>{
        let file = document.querySelector('.file-1').files[0]
        if(file) $('.display-1').html(`<img src="${URL.createObjectURL(file)}" class="icon-1" alt="" style="height:30vw;width:100%;object-fit:scale-down">`)
        else $('.display-1').html(`<i class="fa fa-camera icon-1"></i>`)
        checkIfEnablePostBtn()
    })
    Array.from(document.querySelectorAll('.inp-title')).forEach(t=>t.addEventListener('keyup',e=>checkIfEnablePostBtn()))
    async function post(){
        let formData = new FormData()
        let titleArray = Array.from(document.querySelectorAll('.inp-title').values())
        titleArray.forEach((e,i)=>formData.append(`title_${i+1}`,e.value))
        let discArray = Array.from(document.querySelectorAll('.inp-disc'))
        discArray.forEach((e,i)=>formData.append(`disc_${i+1}`,e.value))
        let fileArray = Array.from(document.querySelectorAll('.inp-file'))
        fileArray = fileArray.forEach((e,i)=>{if(e.files[0])formData.append(`upload_file`,e.files[0],`upload_file_${i+1}`)})
        let res = await axios.post('/upload', formData)
        if(res.data.success)
            location.href = `/postPreview?user=${res.data.user}&&postNum=${res.data.num}`
    }
    function checkIfEnablePostBtn(){
        if(Array.from(document.querySelectorAll('.inp-title')).some(e=>e.value.replaceAll(' ','') == '' || e.value.replaceAll(' ','').length < 5 || e.value.replaceAll(' ','').length > 50) || Array.from(document.querySelectorAll('.inp-file')).some(e=>!e.files[0]))
            $('#post-btn').prop('disabled',true)
            
        else
            $('#post-btn').prop('disabled',false)
    }
    function createField(){
        let num = ((document.querySelector('.field-c')).getElementsByClassName('field').length + 1)
        if(num > 9)$('#add-field').attr('style','display:none')
        let titleH2 = cr('h2')
            if(num % 2 == 0)
                titleH2.style.textAlign = 'end'
            titleH2.innerText = 'Title'
        let titleInp = cr('input')
            titleInp.setAttribute('type','text')
            titleInp.setAttribute('name',`title-${num}`)
            titleInp.classList.add(`title-${num}`,'inp-title')
            titleInp.addEventListener('keyup',e=>checkIfEnablePostBtn())
        let discH2 = cr('h2')
            if(num % 2 == 0)
                discH2.style.textAlign = 'end'
            discH2.innerText = 'Description'
        let discInp = cr('textarea')
            discInp.setAttribute('rows','12')
            discInp.setAttribute('columns','30')
            discInp.setAttribute('name',`disc-${num}`)
            discInp.classList.add('inp-disc',`disc-${num}`)
        let contentDiv = cr('div')
            contentDiv.classList.add('content',`content-${num}`)
            contentDiv.append(titleH2,titleInp,discH2,discInp)
        let icon = cr('i')
            icon.classList.add('fa','fa-camera',`icon-${num}`)
        let displayDiv = cr('div')
            displayDiv.classList.add('display',`display-${num}`)
            displayDiv.append(icon)
        let inpFile = cr('input')
            inpFile.setAttribute('type','file')
            inpFile.classList.add('inp-file',`file-${num}`)
            inpFile.setAttribute('style','display:none')
        let fieldDiv = cr('div')
            fieldDiv.classList.add('field',`field-${num}`)
            if(num % 2 != 0)fieldDiv.append(inpFile,contentDiv,displayDiv)
            else fieldDiv.append(inpFile,displayDiv,contentDiv)
        let deleteBtn = cr('i')
            deleteBtn.classList.add('fa','fa-trash-can',`del-${num}`)
            deleteBtn.setAttribute('style','cursor:pointer;color:red;')
            deleteBtn.addEventListener('click',e=>{
                fieldDiv.remove()
                deleteBtn.remove()
                $('#btn-c').attr('style','display:grid')
            })
        document.querySelector('.field-c').append(fieldDiv,deleteBtn)
        document.querySelector('.field-c').append(document.querySelector("#btn-c"))
        displayDiv.addEventListener("click",()=>{
            inpFile.click()
        })
        inpFile.addEventListener('change',()=>{
            let file = inpFile.files[0]
            if(file) $(`.display-${num}`).html(`<img src="${URL.createObjectURL(file)}" class="icon-1" alt="" style="height:30vw;width:100%;object-fit:scale-down">`)
            else $(`.display-${num}`).html(`<i class="fa fa-camera icon-1"></i>`)
            checkIfEnablePostBtn()
        })
        fieldDiv.scrollIntoView()
        checkIfEnablePostBtn()
    }
    function cr(element){
        return (document.createElement(`${element}`))
    }
</script>