<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ========== Required meta tags  ==========-->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Feed | Mento - Share your project with the world</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!--========== Font Awesome ICONS ==========-->
    <link rel="stylesheet" href="assets/css/fontawesome.min.css" />
    <!--========== Google Fonts ==========-->

    <!-- Bootstrap 5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

    <!--========== Normalize CSS ==========-->
    <link rel="stylesheet" href="assets/css/normalize.css" />

    <!--========== MAIN CSS ==========-->
    <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body>
    <div class="main__page">
        {{!-- <!-- === Navbar Start === -->
        <div class="navbar__">
          <div class="navbar__elements">
            <!-- Navbar Logo -->
            <div class="logo_company">
              <a href="#" class="au">
                <h3>Mento</h3>
              </a>
              <!-- <img src="" alt=""> -->
            </div>
            <!-- Navbar Links -->
            <div class="navbar_links">
              <ul>
                <a href="#" class="au">
                  <li class="active">Home</li>
                </a>
                <a href="#" class="au">
                  <li>Books</li>
                </a>
                <a href="#" class="au">
                  <li>Jobs</li>
                </a>
                <a href="#" class="au">
                  <li>Support</li>
                </a>
                <a href="#" class="au">
                  <li>How it Works</li>
                </a>
              </ul>
            </div>
            <!-- Navbar Search Bar -->
            <!-- Navbar Search Bar -->
            <form action="" class="navbar_Form">
              <div class="Navbar_SearchBar">
                <input id="SearchBar" type="text" placeholder="Search ..">
                <i class="fa-solid fa-xmark" id="ExitOfSearch"></i>
              </div>
            </form>
            <!-- Navbar Icons Section -->
            <div class="navbar_section">
              <a href="#" class="au">
                <i class="fa-solid fa-envelope" id="Emails"></i>
              </a>
              <a href="#" class="au">
                <i class="fa-solid fa-magnifying-glass" id="Search"></i>
              </a>
              <a href="#" class="au">
                <i class="fa-solid fa-bell" id="Notification"></i>
              </a>
              <div class="profile">
                <a href="profile.html">
                  <img src="assets/img/avatar.jpg" alt="Profile Image">
                </a>
              </div>
            </div>
            <!-- Navbar Post Button -->
            <div class="navbar_Post_Link">
              <a href="#" class="au">
                <button class="navbar_Post">
                  Upload
                </button>
              </a>
            </div>
          </div>
        </div>
        <!-- === Navbar End === -->
        <!-- MOBILE NAVBAR START -->
        <div class="navbar_mobile">
      <ul class="items">
        <a href="#" class="au">
          <li><i class="fa-solid fa-house"></i></li>
        </a><a href="#" class="au">
          <li><i class="fa-solid fa-bookmark"></i></li>
        </a>
      </ul>
      <a href="#">
        <button class="btn_createPost">
          Create
        </button>
      </a>
      <ul class="items">
        <a href="#" class="au">
          <li><i class="fa-solid fa-bell"></i></li>
        </a><a href="#" class="au">
          <li><i class="fa-solid fa-user"></i></li>
        </a>
      </ul>
        </div>
        <!-- MOBILE NAVBAR END --> --}}
        {{{body}}}
    </div>
    <!--========== Bootstrap 5 JS ==========-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js "
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM "
      crossorigin="anonymous "></script>

    <!--========== POPPER JS ==========-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js "
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p "
      crossorigin="anonymous "></script>

    <!--========== JQuery JS ==========-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js "></script>

    <!--========== MAIN JS ==========-->
    <script src="assets/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js "></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>